In [4]:
import pandas as pd
import numpy as np

from sklearn.calibration import CalibratedClassifierCV, calibration_curve, CalibrationDisplay
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import joblib

from sklearn.metrics import classification_report

In [5]:
Train = pd.read_csv('data\Train_Data.csv').drop('id', axis='columns')
test = pd.read_csv('data\Test_Data.csv').drop('id', axis='columns')

In [6]:
Train

,creditLimit,gender,edu,age,nDelay,billAmt1,billAmt2,billAmt3,billAmt4,billAmt5,billAmt6,default
0,4500,0,2,28,0,3915,3150,2475,2340,2385,2430,0
1,6000,0,2,24,0,2820,2700,2760,2400,2280,2280,1
2,3800,0,2,39,0,3572,3648,3762,2166,2204,2242,0
3,5500,1,1,27,0,5280,5445,5390,2585,2640,2695,1
4,18000,1,1,51,2,3780,3780,3780,1800,1620,720,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,18000,1,1,34,0,180,180,180,180,180,180,0
1996,33300,1,1,34,0,333,333,2664,333,333,2331,0
1997,33000,1,2,35,0,18150,17820,17490,15510,15840,15840,1
1998,18200,1,1,36,0,182,364,0,182,182,182,0
1999,2000,0,2,46,0,980,940,440,540,100,340,0

In [7]:
x_train, x_val, y_train, y_val = train_test_split(Train.drop('default', axis='columns'),
                                                  Train.default, train_size=0.60)

In [8]:
x_test = test.drop('default', axis='columns')
y_test = test.default

In [9]:
model_rf = RandomForestClassifier().fit(x_train, y_train)
model_xgb = xgb.XGBClassifier(n_estimators=1000,
                              early_stopping_rounds=200).fit(x_train, y_train,
                                                            eval_set=[(x_val,y_val)],
                                                            verbose=False)

In [10]:
joblib.dump(model_xgb,"models/XGBoostModel.pkl")
joblib.dump(model_rf,"models/RForestModel.pkl")

['models/RForestModel.pkl']